body {
	background: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
}

p {
	font-family: Times;
}

h2 {
	font-family: Times;
}

h3 {
	font-family: Times;
}

.header {
	padding: 80px; /* some padding */
	text-align: center; /* center the text */
	background-image: url("https://intellident-pdr.netlify.com/static/Images/intellident-white-logo.png?nf_resize=fit&w=200&h=200");
	background-repeat: no-repeat;
	background-color: #FFFFFF;
	color: #000000; /* white text color */
}